<!-- footer.component.html -->
<footer class="footer">
    <div class="footer-container">
      <!-- Columna Izquierda -->
      <div class="left-column">
        <div class="logo">
          <img src="./../../../assets/logonavbar.png" alt="Troncoso Transfers" class="footer-logo">
        </div>
        
        <div class="contact-info">
          <p class="location">Buenos Aires, Argentina</p>
          <p class="number">11223344</p>
          <a href="mailto:info@troncosotransfers.com.ar" class="email">infotroncosotransfers.com.ar</a>
        </div>
      </div>
  
      <div class="right-column alternative-style">
        <div class="social-icons">
          <a href="https://instagram.com/troncosotransfers" target="_blank" class="social-icon">
            <i class="fa-brands fa-instagram fa-lg"></i>
          </a>
          <a href="https://linkedin.com/company/troncosotransfers" target="_blank" class="social-icon">
            <i class="fa-brands fa-linkedin-in fa-lg"></i>
          </a>
          <a href="mailto:info@troncosotransfers.com.ar" class="social-icon">
            <i class="fa-regular fa-envelope fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>