<!-- footer.component.html -->
<footer class="footer">
    <div class="footer-container">
      <!-- Columna Izquierda -->
      <div class="left-column">
        <div class="logo">
          <img src="./../../../assets/logonavbar.png" alt="Troncoso Transfers" class="footer-logo">
        </div>
        
        <div class="contact-info">
          <p class="location">Portela 467, Lomas de Zamora. Piso 6 16</p>
          <p class="number">1169079021</p>
          <a href="mailto:troncosotransfers@hotmail.com" class="email">troncosotransfers&#64;hotmail.com</a>
        </div>
      </div>
  
      <div class="right-column alternative-style">
        <div class="social-icons">
          <a href="https://www.instagram.com/troncosotransfers/" target="_blank" class="social-icon">
            <i class="fa-brands fa-instagram fa-lg"></i>
          </a>
          <a href="https://www.linkedin.com/company/troncoso-transfers-srl/posts/?feedView=all " target="_blank" class="social-icon">
            <i class="fa-brands fa-linkedin-in fa-lg"></i>
          </a>
          <a href="mailto:troncosotransfers@hotmail.com" class="social-icon">
            <i class="fa-regular fa-envelope fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>