<!-- reviews.component.html -->
<section id="reseñas" class="reviews-section">
  <div class="container">
    <h2 class="section-title">¿Que dicen de nosotros?</h2>

    <div class="reviews-slider">
      <div class="review-card">
        <div class="review-header">
          <div class="profile-img"alt="Cliente">S</div>
          
          <div class="reviewer-info">
            <h3>Sofía Dispenza</h3>
            <div class="stars">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
          </div>
        </div>
        <p class="review-text">
          Hace 11 meses <br>
          <br>
          "Todo de 10. Nos vinieron a buscar súper puntuales tanto a la ida como
          a la vuelta. El día anterior te escriben para coordinar, responden
          rápido y a todas las dudas que teníamos. Eramos 11, con dos bebés, y
          trajeron los huevitos nuevos para los nenes. Las camionetas eran 0km
          año 2024 ó 2023 como mucho. Limpias y muy lindas. El chofer re
          educado, y manejó con cuidado. Lo recomiendo 100%.
          Volvería a contratarlos."
        </p>
      </div>
    

      <!-- Review 3 -->
      <div class="review-card">
        <div class="review-header">
         <div class="profile-img"alt="Cliente">L</div>
          <div class="reviewer-info">
            <h3>Liliana Ruiz De Clementi</h3>
            <div class="stars">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star half">★</span>
            </div>
          </div>
        </div>
        <p class="review-text">
              Hace un mes <br>
          <br>
          "Nos fuimos de viaje a la provincia de Catamarca , con el excelente
          servicio de Troncoso Transfers, la unidad muy cómoda , muy limpio todo
          y los choferes unos genios, sin duda, los volveríamos a elegir !!!!
          Muchas Gracias"
        </p>
      </div>
      

      <!-- Review 4 -->
      <div class="review-card">
        <div class="review-header">
    <div class="profile-img"alt="Cliente">R</div>
          <div class="reviewer-info">
            <h3>Roberto G.</h3>
            <div class="stars">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
          </div>
        </div>
        <p class="review-text">
              Hace un mes <br>
          <br>
          "Los uso para ir al aeropuerto siempre. Nunca me han fallado y los
          precios son justos."
        </p>
      </div>
        <!-- Review 1 -->
      <div class="review-card">
        <div class="review-header">
     <div class="profile-img"alt="Cliente">R</div>
          <div class="reviewer-info">
            <h3>Rosana Sparacio</h3>
            <div class="stars">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
          </div>
        </div>
        <p class="review-text">
            Hace un mes <br>
          <br>
          "Excelente servicio el de Troncoso transfer. La camioneta impecable ,
          puntualidad , el profesionalismo y amabilidad de los choferes , hacen
          a la experiencia del viaje aún más
          placentera.Totalmente recomendable."
        </p>
      </div>

      <!-- Review 5 -->
      <div class="review-card">
        <div class="review-header">
        <div class="profile-img"alt="Cliente">A</div>
          <div class="reviewer-info">
            <h3>Abriendo Caminos</h3>
            <div class="stars">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
          </div>
        </div>
        <p class="review-text">
              Hace un mes <br>
          <br>
          "Súper responsables, vehículos nuevos y limpios. Puntuales y de trato
          amable. No son de los más baratos. Los recomiendo"
        </p>
      </div>
    </div>
  </div>
</section>
<div class="quote-overlay-container">
  <div class="quote-overlay">
    <h2>
      COTIZÁ TU <br />
      VIAJE
    </h2>
  </div>
</div>
