<section id="nosotros" class="about-section">
  <div class="container">
    <div class="about-content">
      <!-- Logo a la izquierda en desktop -->
      <div class="logo-placeholder">
        <span class="logo-text">TRONCOSO</span>
        <span class="logo-text">TRANSFERS</span>
      </div>

      <!-- Contenido de texto a la derecha en desktop -->
      <div class="about-text">
        <h1 class="company-name mobile-only">TRONCOSO TRANSFERS</h1>
        
        <p class="description">
          Brindamos a nuestros clientes y usuarios un servicio de <strong>transporte terrestre de pasajeros</strong>,
           con un nivel de alta calidad, <strong>puntualidad</strong>, <strong>seguridad</strong>, y <strong>comodidad.</strong> 
          <br><br>
          Somos una <strong>empresa familiar</strong>, atendida directamente por sus dueños. <br><br>
           <strong>Nuestra misión</strong> es ofrecer un servicio de <strong>excelencia</strong> 
           que provee soluciones de transporte, alcanzando niveles de calidad que contribuyan a la <strong>comodidad de nuestros clientes</strong>.
        </p>
      </div>
    </div>
  </div>
</section>