<!-- reasons.component.html -->
<section class="reasons-section">
    <div class="container">
      <h2 class="section-title"><span>RAZONES PARA ELEGIRNOS</span></h2>
      
      <div class="reasons-grid">
        <!-- Primera fila -->
        <div class="reason-row">
          <div class="reason-item">
            <div class="reason-image">
                <img src="./../../../assets/CLIMATIZACIÓN.png" alt="Climatización">
            </div>
            <h3>CLIMATIZACIÓN</h3>
          </div>
          
          <div class="reason-item">
            <div class="reason-image">
                 <img src="./../../../assets/GEOLOCALIZACIÓN.png" alt="GEOLOCALIZACIÓN">
            </div>
            <h3>GEOLOCALIZACIÓN</h3>
          </div>
        </div>
        
        <!-- Segunda fila -->
        <div class="reason-row">
          <div class="reason-item">
            <div class="reason-image">
                <img src="./../../../assets/PET FRIENDLY.png" alt="Pet Friendly">
            </div>
            <h3>PET FRIENDLY</h3>
          </div>
          
          <div class="reason-item">
            <div class="reason-image">
                <img src="./../../../assets/SEGURIDAD.png" alt="Seguridad">
            </div>
            <h3>SEGURIDAD</h3>
          </div>
        </div>
      </div>
    </div>
  </section>